.hooligans {
	color: red;
	font-family: Verdana;
}

.shenanigans {
	color: purple;
	font-family: Helvetica;
}

.tomfoolery {
	color: green;
	font-family: Lucida Console;
}

.ballyhoo {
	color: magenta;
	font-family: Book Antiqua;
}

.notes {
	color: navy;
	font-family: Baskerville
}